<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="tableBooksLayout (year, books)">
    <th:block th:insert="~{layouts/toolbar.html::toolbarBooksLayout (${year})}"></th:block>
    <div class="scroll-table">
        <table>
            <colgroup>
                <col class="col-percent-7">
                <col class="col-percent-6">
                <col class="col-percent-15">
                <col class="col-percent-20">
                <col>
                <col class="col-percent-7">
                <col class="col-percent-6">
                <col class="col-percent-12">
            </colgroup>
            <thead>
            <tr>
                <th>Начало</th>
                <th>Тип</th>
                <th>Жанр</th>
                <th>Автор</th>
                <th>Название</th>
                <th colspan="2">Завершение</th>
                <th>Действия</th>
            </tr>
            </thead>
            <th:block th:if="${!books.isEmpty()}">
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${#temporals.monthName(book.getDateStart())}"></td>
                    <td th:if="${book.getType() == 'Аудиокнига'}" th:title="${book.getType()}"
                        class="text-align-center">
                        <img src="/images/icons/book/type/audio-book.png" th:alt="${book.getType()}">
                    </td>
                    <td th:if="${book.getType() == 'Бумажная'}" th:title="${book.getType()}" class="text-align-center">
                        <img src="/images/icons/book/type/book.png" th:alt="${book.getType()}">
                    </td>
                    <td th:if="${book.getType() == 'Электронная'}" th:title="${book.getType()}"
                        class="text-align-center">
                        <img src="/images/icons/book/type/ebook.png" th:alt="${book.getType()}">
                    </td>
                    <td th:text="${book.getGenre().getName()}"></td>
                    <td th:text="${book.getAuthor()}"></td>
                    <td th:text="${book.getName()}"></td>
                    <td th:text="${#temporals.monthName(book.getDateFinish())}"></td>
                    <td th:text="${#temporals.year(book.getDateFinish())}" class="text-align-center"></td>
                    <td>
                        <div class="action">
                            <th:block th:if="${book.getDateFinish() == null}">
                                <form
                                        method="post"
                                        th:action="@{${'/books/dateFinish/' + book.getId() +'/' + year}}">
                                    <input type="image"
                                           src="/images/icons/book/button/finish.png"
                                           alt="Завершить чтение"
                                           title="Завершить чтение"
                                           class="button">
                                </form>
                            </th:block>
                            <th:block th:unless="${book.getDateFinish() == null}">
                                <form
                                        method="get"
                                        th:action="@{${'/comments/' + book.getId() + (book.getComment() == null ?
                                        '' : '/' + book.getComment().getId())}}">
                                    <input type="image"
                                           src="/images/icons/book/button/star.png"
                                           th:alt="${(book.getComment() == null ? 'Добавить' : 'Редактировать')  + ' комментарий'}"
                                           th:title="${(book.getComment() == null ? 'Добавить' : 'Редактировать')  + ' комментарий'}"
                                           class="button">
                                </form>
                            </th:block>
                            <form
                                    method="get"
                                    th:action="@{${'/books/book/' + book.getId()  + '/' + year}}">
                                <input type="image"
                                       src="/images/icons/book/button/edit.png"
                                       alt="Редактировать книгу"
                                       title="Редактировать книгу"
                                       class="button">
                            </form>
                            <form method="post" th:action="@{${'/books/delete/' + book.getId() +'/' + year}}">
                                <input type="image"
                                       src="/images/icons/book/button/delete.png"
                                       alt="Удалить книгу"
                                       title="Удалить книгу"
                                       class="button delete">
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
        <th:block th:if="${books.isEmpty()}">
            <div class="empty">Список пустой</div>
        </th:block>
    </div>
</th:block>

<th:block th:fragment="tablePlannedBooksLayout (name, books)">
    <th:block th:insert="~{layouts/toolbar.html::toolbarPlannedBooksLayout (${search})}"></th:block>
    <div class="scroll-table">
        <table>
            <colgroup>
                <col class="col-percent-7">
                <col class="col-percent-6">
                <col class="col-percent-6">
                <col class="col-percent-15">
                <col class="col-percent-20">
                <col>
                <col class="col-percent-12">
            </colgroup>
            <thead>
            <tr>
                <th colspan="2">Добавлена</th>
                <th>Тип</th>
                <th>Жанр</th>
                <th>Автор</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
            </thead>
            <th:block th:unless="${books.isEmpty()}">
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${#temporals.monthName(book.getCreated())}"></td>
                    <td th:text="${#temporals.year(book.getCreated())}" class="text-align-center"></td>
                    <td th:if="${book.getType() == 'Аудиокнига'}" th:title="${book.getType()}"
                        class="text-align-center">
                        <img src="/images/icons/book/type/audio-book.png" th:alt="${book.getType()}">
                    </td>
                    <td th:if="${book.getType() == 'Бумажная'}" th:title="${book.getType()}"
                        class="text-align-center">
                        <img src="/images/icons/book/type/book.png" th:alt="${book.getType()}">
                    </td>
                    <td th:if="${book.getType() == 'Электронная'}" th:title="${book.getType()}"
                        class="text-align-center">
                        <img src="/images/icons/book/type/ebook.png" th:alt="${book.getType()}">
                    </td>
                    <td th:text="${book.getGenre().getName()}"></td>
                    <td th:text="${book.getAuthor()}"></td>
                    <td th:text="${book.getName()}"></td>
                    <td>
                        <div class="action">
                            <form
                                    method="post"
                                    th:action="@{'/books/dateStart/' + ${book.getId()}}">
                                <input type="text" name="search" th:value="${search != null ? search : null}" hidden>
                                <input type="image"
                                       src="/images/icons/book/button/start.png"
                                       alt="Начать чтение"
                                       title="Начать чтение"
                                       class="button">
                            </form>
                            <form
                                    method="get"
                                    th:action="@{${'/books/plan/book/' + book.getId()}}">
                                <input type="text" name="search" th:value="${search != null ? search : null}" hidden>
                                <input type="image"
                                       src="/images/icons/book/button/edit.png"
                                       alt="Редактировать книгу"
                                       title="Редактировать книгу"
                                       class="button">
                            </form>
                            <form method="post"
                                  th:action="@{'/books/plan/delete/' + ${book.getId()}}">
                                <input type="text" name="search" th:value="${search != null ? search : null}" hidden>
                                <input type="image"
                                       src="/images/icons/book/button/delete.png"
                                       alt="Удалить книгу"
                                       title="Удалить книгу"
                                       class="button">
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
        <th:block th:if="${books.isEmpty()}">
            <div class="empty">Список пустой</div>
        </th:block>
    </div>
</th:block>

<th:block th:fragment="tableReportLayout (books)">
    <th:block th:insert="~{layouts/toolbar.html::toolbarReportLayout (${name}, ${reports})}"></th:block>
    <div class="scroll-table">
        <table>
            <colgroup>
                <col class="col-percent-7">
                <col class="col-percent-6">
                <col class="col-percent-6">
                <col class="col-percent-20">
                <col>
                <col class="col-percent-15">
                <col class="col-percent-7">
                <col class="col-percent-6">
            </colgroup>
            <thead>
            <tr>
                <th colspan="2">Начало</th>
                <th>Тип</th>
                <th>Автор</th>
                <th>Название</th>
                <th>Жанр</th>
                <th colspan="2">Завершение</th>
            </tr>
            </thead>
            <th:block th:unless="${books.isEmpty()}">
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${#temporals.monthName(book.getDateStart())}"></td>
                    <td th:text="${#temporals.year(book.getDateStart())}" class="text-align-center"></td>
                    <td th:if="${book.getType() == 'Аудиокнига'}" th:title="${book.getType()}"
                        class="text-align-center">
                        <img src="/images/icons/book/type/audio-book.png" th:alt="${book.getType()}">
                    </td>
                    <td th:if="${book.getType() == 'Бумажная'}" th:title="${book.getType()}" class="text-align-center">
                        <img src="/images/icons/book/type/book.png" th:alt="${book.getType()}">
                    </td>
                    <td th:if="${book.getType() == 'Электронная'}" th:title="${book.getType()}"
                        class="text-align-center">
                        <img src="/images/icons/book/type/ebook.png" th:alt="${book.getType()}">
                    </td>
                    <td th:text="${book.getAuthor()}"></td>
                    <td th:text="${book.getName()}"></td>
                    <td th:text="${book.getGenre().getName()}"></td>
                    <td th:text="${#temporals.monthName(book.getDateFinish())}"></td>
                    <td th:text="${#temporals.year(book.getDateFinish())}" class="text-align-center"></td>
                </tr>
                </tbody>
            </th:block>
        </table>
        <th:block th:if="${books.isEmpty()}">
            <div class="empty">Список пустой</div>
        </th:block>
    </div>
</th:block>

<th:block th:fragment="adminLayout (users, roles, statuses)">
    <th:block th:insert="~{layouts/toolbar.html::toolbarAdminLayout (${search})}"></th:block>
    <div class="scroll-table">
        <table>
            <colgroup>
                <col span="7" class="col-percent-4">
            </colgroup>
            <thead>
            <tr>
                <th>Дата регистрации</th>
                <th colspan="2">Пользователь</th>
                <th>Логин</th>
                <th>Роль</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            </thead>
            <th:block th:unless="${users.isEmpty()}">
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${#temporals.format(user.getCreated(), 'dd.MM.yyyy')}"
                        class="text-align-center"></td>
                    <td th:text="${user.getProfile().getSurname()}"></td>
                    <td th:text="${user.getProfile().getName()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getRole()}"></td>
                    <td th:text="${user.getStatus()}"></td>
                    <td>
                        <div class="action">
                            <th:block th:if="${user.getStatus().name() == 'INACTIVE'}">
                                <form method="post"
                                      th:action="@{'/admin/unblock/user/' + ${user.getId()}}">
                                    <input type="text" name="search"
                                           th:value="${search != null ? search : null}" hidden>
                                    <input type="image" src="/images/icons/user/lock.png"
                                           alt="Заблокированный пользователь"
                                           title="Разблокировать пользователя"
                                           class="button">
                                </form>
                            </th:block>
                            <th:block th:if="${user.getStatus().name() != 'INACTIVE'}">
                                <form method="post"
                                      th:action="@{'/admin/block/user/' + ${user.getId()}}">
                                    <input type="text" name="search"
                                           th:value="${search != null ? search : null}" hidden>
                                    <input type="image" src="/images/icons/user/light-lock.png"
                                           alt="Пользователь" title="Заблокировать пользователя"
                                           class="button">
                                </form>
                            </th:block>
                            <form method="get"
                                  th:action="@{'/admin/user/' + ${user.getId()}}">
                                <input type="text" name="search"
                                       th:value="${search != null ? search : null}" hidden>
                                <input type="image" src="/images/icons/user/setting.png"
                                       alt="Редактировать пользователя"
                                       title="Редактировать пользователя" class="button">
                            </form>
                            <form method="post"
                                  th:action="@{'/admin/delete/user/' + ${user.getId()}}">
                                <input type="text" name="search"
                                       th:value="${search != null ? search : null}" hidden>
                                <input type="image" src="/images/icons/user/delete.png"
                                       alt="Удалить пользователя"
                                       title="Удалить пользователя" class="button">
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
        <th:block th:if="${users.isEmpty()}">
            <div class="empty">Список пустой</div>
        </th:block>
    </div>
</th:block>
</body>
</html>