<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="bookLayout (year, books)">
    <th:block th:insert="~{layouts/toolbar.html::toolbarBookLayout (${year})}"></th:block>
    <div class="scroll-table">
        <table>
            <colgroup>
                <col class="col-percent-7">
                <col class="col-percent-6">
                <col class="col-percent-15">
                <col class="col-percent-20">
                <col>
                <col class="col-percent-7">
                <col class="col-percent-6">
                <col class="col-percent-12">
            </colgroup>
            <thead>
            <tr>
                <th>Начало</th>
                <th>Тип</th>
                <th>Жанр</th>
                <th>Автор</th>
                <th>Название</th>
                <th colspan="2">Завершение</th>
                <th>Действия</th>
            </tr>
            </thead>
            <th:block th:if="${!books.isEmpty()}">
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${#dates.monthName(book.getDateStart())}"></td>
                    <td th:if="${book.getType() == 'Аудиокнига'}" th:title="${book.getType()}"
                    class="text-align-center">
                    <img src="/img/icons/book/type/audio-book.png" th:alt="${book.getType()}">
                    </td>
                    <td th:if="${book.getType() == 'Бумажная'}" th:title="${book.getType()}" class="text-align-center">
                    <img src="/img/icons/book/type/book.png" th:alt="${book.getType()}">
                    </td>
                    <td th:if="${book.getType() == 'Электронная'}" th:title="${book.getType()}"
                    class="text-align-center">
                    <img src="/img/icons/book/type/ebook.png" th:alt="${book.getType()}">
                    </td>
                    <td th:text="${book.getGenre().getName()}"></td>
                    <td th:text="${book.getAuthor()}"></td>
                    <td th:text="${book.getName()}"></td>
                    <td th:text="${#dates.monthName(book.getDateFinish())}"></td>
                    <td th:text="${#dates.year(book.getDateFinish())}" class="text-align-center"></td>
                    <td>
                        <div class="action">
                            <th:block th:if="${book.getDateFinish() == null}">
                                <form
                                        method="post"
                                        th:action="@{${'/book/updateDateFinish/' + year + '/' + book.getId()}}">
                                    <input type="image"
                                           src="/img/icons/book/button/finish.png"
                                           alt="Завершить чтение"
                                           title="Завершить чтение"
                                           class="button">
                                </form>
                            </th:block>
                            <th:block th:unless="${book.getDateFinish() == null}">
                                <form
                                        method="get"
                                        th:action="@{${'/comment/form/' + year + '/' + book.getId() + (book.getComment() == null ?
                                        '' : '/' + book.getComment().getId())}}">
                                    <input type="image"
                                           src="/img/icons/book/button/star.png"
                                           alt="Оставить комментарий"
                                           title="Оставить комментарий"
                                           class="button">
                                </form>
                            </th:block>
                            <form
                                    method="post"
                                    th:action="@{${'/book/' + year + '/form/edit/' + book.getId()}}">
                                <input type="image"
                                       src="/img/icons/book/button/edit.png"
                                       alt="Редактировать"
                                       title="Редактировать"
                                       class="button">
                            </form>
                            <form method="post" th:action="@{${'/book/delete/' + year +'/' + book.getId()}}">
                                <input type="image"
                                       src="/img/icons/book/button/delete.png"
                                       alt="Удалить"
                                       title="Удалить"
                                       class="button delete">
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
        <th:block th:if="${books.isEmpty()}">
            <div class="empty">Список пустой</div>
        </th:block>
    </div>
</th:block>

<th:block th:fragment="planBookLayout (name, books)">
    <th:block th:insert="~{layouts/toolbar.html::toolbarPlanBookLayout (${search})}"></th:block>
    <div class="scroll-table">
        <table>
            <colgroup>
                <col class="col-percent-7">
                <col class="col-percent-6">
                <col class="col-percent-6">
                <col class="col-percent-15">
                <col class="col-percent-20">
                <col>
                <col class="col-percent-12">
            </colgroup>
            <thead>
            <tr>
                <th colspan="2">Добавлена</th>
                <th>Тип</th>
                <th>Жанр</th>
                <th>Автор</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
            </thead>
            <th:block th:unless="${books.isEmpty()}">
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${#dates.monthName(book.getCreated())}"></td>
                    <td th:text="${#dates.year(book.getCreated())}" class="text-align-center"></td>
                    <td th:if="${book.getType() == 'Аудиокнига'}" th:title="${book.getType()}"
                        class="text-align-center">
                        <img src="/img/icons/book/type/audio-book.png" th:alt="${book.getType()}">
                    </td>
                    <td th:if="${book.getType() == 'Бумажная'}" th:title="${book.getType()}"
                        class="text-align-center">
                        <img src="/img/icons/book/type/book.png" th:alt="${book.getType()}">
                    </td>
                    <td th:if="${book.getType() == 'Электронная'}" th:title="${book.getType()}"
                        class="text-align-center">
                        <img src="/img/icons/book/type/ebook.png" th:alt="${book.getType()}">
                    </td>
                    <td th:text="${book.getGenre().getName()}"></td>
                    <td th:text="${book.getAuthor()}"></td>
                    <td th:text="${book.getName()}"></td>
                    <td>
                        <div class="action">
                            <form
                                    method="post"
                                    th:action="@{'/book/updateDateStart/' + ${book.getId()}}">
                                <input type="image"
                                       src="/img/icons/book/button/start.png"
                                       alt="Начать чтение"
                                       title="Начать чтение"
                                       class="button">
                            </form>
                            <form
                                    method="post"
                                    th:action="@{'/book/form/plan/edit/' + ${book.getId()}}">
                                <input type="image"
                                       src="/img/icons/book/button/edit.png"
                                       alt="Редактировать"
                                       title="Редактировать"
                                       class="button">
                            </form>
                            <form method="post"
                                  th:action="@{'/book/plan/delete/' + ${book.getId()}}">
                                <input type="image"
                                       src="/img/icons/book/button/delete.png"
                                       title="Удалить"
                                       class="button">
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </th:block>
        </table>
        <th:block th:if="${books.isEmpty()}">
            <div class="empty">Список пустой</div>
        </th:block>
    </div>
</th:block>

<th:block th:fragment="reportLayout (books)">
    <th:block th:insert="~{layouts/toolbar.html::toolbarReportLayout (${name}, ${reports})}"></th:block>
    <div class="scroll-table">
        <table>
            <colgroup>
                <col class="col-percent-7">
                <col class="col-percent-6">
                <col class="col-percent-6">
                <col class="col-percent-20">
                <col>
                <col class="col-percent-15">
                <col class="col-percent-7">
                <col class="col-percent-6">
            </colgroup>
            <thead>
            <tr>
                <th colspan="2">Начало</th>
                <th>Тип</th>
                <th>Автор</th>
                <th>Название</th>
                <th>Жанр</th>
                <th colspan="2">Завершение</th>
            </tr>
            </thead>
            <th:block th:unless="${books.isEmpty()}">
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${#dates.monthName(book.getDateStart())}"></td>
                    <td th:text="${#dates.year(book.getDateStart())}" class="text-align-center"></td>
                    <td th:if="${book.getType() == 'Аудиокнига'}" th:title="${book.getType()}"
                        class="text-align-center">
                        <img src="/img/icons/book/type/audio-book.png" th:alt="${book.getType()}">
                    </td>
                    <td th:if="${book.getType() == 'Бумажная'}" th:title="${book.getType()}" class="text-align-center">
                        <img src="/img/icons/book/type/book.png" th:alt="${book.getType()}">
                    </td>
                    <td th:if="${book.getType() == 'Электронная'}" th:title="${book.getType()}"
                        class="text-align-center">
                        <img src="/img/icons/book/type/ebook.png" th:alt="${book.getType()}">
                    </td>
                    <td th:text="${book.getAuthor()}"></td>
                    <td th:text="${book.getName()}"></td>
                    <td th:text="${book.getGenre().getName()}"></td>
                    <td th:text="${#dates.monthName(book.getDateFinish())}"></td>
                    <td th:text="${#dates.year(book.getDateFinish())}" class="text-align-center"></td>
                </tr>
                </tbody>
            </th:block>
        </table>
        <th:block th:if="${books.isEmpty()}">
            <div class="empty">Список пустой</div>
        </th:block>
    </div>
</th:block>

<th:block th:fragment="adminLayout (users, roles, statuses)">
    <th:block th:insert="~{layouts/toolbar.html::toolbarAdminLayout (${search})}"></th:block>
    <div class="scroll-table">
        <table>
            <colgroup>
                <col span="7" class="col-percent-4">
            </colgroup>
            <thead>
            <tr>
                <th>Дата регистрации</th>
                <th colspan="2">Пользователь</th>
                <th>Логин</th>
                <th>Роль</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            </thead>
            <th:block th:unless="${users.isEmpty()}">
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${#dates.format(user.getCreated(), 'dd.MM.yyyy')}"
                    class="text-align-center"></td>
                <td th:text="${user.getProfile().getSurname()}"></td>
                <td th:text="${user.getProfile().getName()}"></td>
                <td th:text="${user.getUsername()}">
                </td>
                <td th:text="${user.getRole()}">
                </td>
                <td th:text="${user.getStatus()}">
                </td>
                <td>
                    <div class="action">
                        <th:block th:if="${user.getStatus().name() == 'INACTIVE'}">
                            <form method="post"
                                  th:action="@{'/admin/unblock/user/' + ${user.getId()}}">
                                <input type="image" src="/img/icons/user/lock.png" title="Разблокировать" class="button">
                            </form>
                        </th:block>
                        <th:block th:if="${user.getStatus().name() != 'INACTIVE'}">
                            <form method="post"
                                  th:action="@{'/admin/block/user/' + ${user.getId()}}">
                                <input type="image" src="/img/icons/user/light-lock.png" title="Заблокировать" class="button">
                            </form>
                        </th:block>
                        <form method="get"
                              th:action="@{'/admin/user/' + ${user.getId()}}">
                            <input type="image" src="/img/icons/user/setting.png" title="Редактировать" class="button">
                        </form>
                        <form method="post"
                              th:action="@{'/admin/user/delete/' + ${user.getId()}}">
                            <input type="image" src="/img/icons/user/delete.png" title="Удалить" class="button">
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
            </th:block>
        </table>
        <th:block th:if="${users.isEmpty()}">
            <div class="empty">Список пустой</div>
        </th:block>
    </div>
</th:block>
</body>
</html>