<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="toolbarBooksLayout (year)">
    <div class="toolbar">
        <div class="year">
            <a th:href="@{'/books/' + ${year - 1}}"><img src="/images/icons/arrow/arrow-left.png"
                                                         alt="Стрелка влево"></a>
            <span th:text="${year}"></span>
            <a th:href="@{'/books/' + ${year + 1}}"><img src="/images/icons/arrow/arrow-right.png"
                                                         alt="Стрелка вправо"></a>
        </div>
        <form method="get" th:action="@{'/books/book/' + ${year}}" class="form-add">
            <input type="submit" value="Добавить">
        </form>
    </div>
</th:block>

<th:block th:fragment="toolbarPlannedBooksLayout (search)">
    <div class="toolbar">
        <form method="get" action="/books/plan/search" class="form-search">
            <input type="text" placeholder="Название" name="search"
                   th:value="${search != null ? search : null}" autofocus>
            <input type="submit" value="Поиск">
        </form>
        <form method="get" action="/books/plan/book" class="form-add">
            <input type="text" name="search" th:value="${search != null ? search : null}" hidden>
            <input type="submit" value="Добавить">
        </form>
    </div>
</th:block>

<th:block th:fragment="toolbarReportLayout (name, reports)">
    <div class="toolbar">
        <div></div>
        <div class="dropdown">
            <input type="text"
                   class="dropdown-input hide">
            <button class="dropdown-button" th:text="${name}"></button>
            <ul class="dropdown-list hide">
                <li th:each="report : ${reports}" class="dropdown-list-item"><a
                        th:href="@{'/books/'  + ${report.getUrl()}}" th:text="${report.getName()}"></a></li>
            </ul>
        </div>
    </div>
</th:block>

<th:block th:fragment="toolbarAdminLayout (search)">
    <div class="toolbar">
        <form method="get" action="/admin/users/search" class="form-search">
            <input type="text" placeholder="Логин" name="search"
                   th:value="${search != null ? search : null}" autofocus>
            <input type="submit" value="Поиск">
        </form>
    </div>
</th:block>
</body>
</html>