<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои книги</title>
    <link rel="icon" href="/img/book_logo.png">
    <link rel="stylesheet" href="/css/start.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<th:block th:insert="~{layouts/header.html::headerLayout (${nav})}"></th:block>
<main>
    <div class="container">
        <th:block th:insert="~{layouts/table.html::tableLayout (${year}, ${books})}"></th:block>
    </div>
</main>
</body>
</html>