<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои книги</title>
    <link rel="icon" href="/img/icons/logo/book_logo.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Martian+Mono:wght@100..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
</head>
<body>
<th:block th:insert="~{layouts/yandex-metrika.html::yandexMetrikaLayout}"></th:block>
<th:block th:insert="~{layouts/header.html::headerLayout (${nav})}"></th:block>
<main>
    <div class="container">
        <form th:object="${comment}" method="post"
              th:action="@{${'/comments/' + book.getId() + (comment.getId() == null ?  '' : '/'+ comment.getId())}}"
              class="form-save">
            <h3 th:text="${comment.getId() == null ? 'Добавить' : 'Редактировать'} + ' комментарий'"></h3>
            <input type="text" th:field="*{id}" th:value="${comment.getId()}" name="id" hidden>
            <label><span>Жанр</span>
                <input type="text" th:value="${book.getGenre().getName()}" disabled>
            </label>
            <label><span>Автор</span>
                <input type="text" th:value="${book.getAuthor()}" disabled>
            </label>
            <label><span>Название</span>
                <input type="text" th:value="${book.getName()}" disabled>
            </label>
            <label><span>Комментарий</span>
                <textarea rows="2" th:field="*{text}" th:value="${comment.getText()}"
                          autofocus required></textarea>
            </label>
            <div class="buttons">
                <a th:href="@{${'/books/' + year}}" class="form-button align-center">Отмена</a>
                <input type="submit" value="Сохранить">
            </div>
        </form>
    </div>
</main>
<script src="/js/focus.js"></script>
</body>
</html>