<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои книги</title>
    <link rel="icon" href="/img/book_logo.png">
    <link rel="stylesheet" href="/css/start.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<th:block th:insert="~{layouts/header.html::headerLayout (${nav})}"></th:block>
<main>
    <div class="container">
        <div class="control">
            <div></div>
            <div class="dropdown">
                <button class="dropdown-button" th:text="${name}"></button>
                <ul class="dropdown-list hide">
                    <li th:each="report : ${reports}" class="dropdown-list-item"><a
                            th:href="@{'/profile/books/' + ${report}}" th:text="${report.getName()}"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <th:block th:insert="~{layouts/table.html::reportLayout (${books})}"></th:block>
</main>
<script src="/script/dropdown.js"></script>
</body>
</html>