<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои книги</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/icons/logo/book_logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Martian+Mono:wght@100..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
</head>
<body>
<th:block th:insert="~{layouts/header.html::headerLayout (${nav})}"></th:block>
<main>
    <div class="container">
        <form method="post" th:action="@{${nav == 'login' ? '/login' : '/'}}" class="form-login">
            <th:block th:if="${nav == 'registration'}">
                <label><span>Фамилия</span>
                    <input type="text" name="surname" th:value="${error != null ? surname : null}"
                           th:autofocus="${error == null ? true : false}" required maxlength="30">
                </label>
                <label><span>Имя</span>
                    <input type="text" name="name" th:value="${error != null ? name : null}"
                           required maxlength="20">
                </label>
            </th:block>
            <label><span>Логин</span>
                <input type="text" name="username" autocomplete="new-username"
                       th:autofocus="${error == null or error == 'username'? true : false}"
                       th:value="${error != null ? username : null}"
                       required maxlength="20">
            </label>
            <th:block th:if="${error == 'username'}">
                <label class="error">Указанный пользователь уже существует</label>
            </th:block>
            <label><span>Пароль</span>
                <input type="password" name="password" autocomplete="new-password"
                       th:autofocus="${error == 'password' ? true : false}"
                       required maxlength="15">
            </label>
            <th:block th:if="${loginError}">
                <label class="error">Неправильный логин или пароль</label>
            </th:block>
            <th:block th:if="${nav == 'registration'}">
                <label><span>Повторите пароль</span>
                    <input type="password" name="repeatPassword" autocomplete="new-password"
                           required maxlength="15">
                </label>
                <th:block th:if="${error == 'password'}">
                    <label class="error">Пароли не совпадают</label>
                </th:block>
            </th:block>
            <input type="submit" th:value="${nav == 'login' ? 'Войти' : 'Зарегистрироваться' }" class="form-button">
        </form>
    </div>
</main>
<script src="/js/focus.js"></script>
</body>
</html>