<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои книги</title>
    <link rel="icon" href="/img/book_logo.png">
    <link rel="stylesheet" href="/css/start.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<header>
</header>
<main>
    <div class="container">
        <th:block th:if="${book.getId() == null}">
            <form name="form" method="post" th:object="${book}" class="form-save" action="/book/save">
                <label class="hide"><span>id</span>
                    <input type="text" th:field="*{id}" name="id">
                </label>
                <label><span>Тип:</span>
<!--                    <div class="dropdown">-->
<!--                        <button class="dropdown-button"></button>-->
<!--                        <ul class="dropdown-list hide">-->
<!--                                <li th:each="type : ${types}" class="dropdown-list-item" th:text="${type.getDescription()}"></li>-->

<!--                        </ul>-->
<!--                    </div>-->
                    <select th:field="*{type}" name="type">
                        <option th:each="type : ${types}"
                                th:value="${type.getDescription()}"
                                th:text="${type.getDescription()}"
                                selected></option>
                    </select>
                </label>
                <label><span>Автор:</span>
                    <input type="text" th:field="*{author}" name="author" maxlength="50" required>
                </label>
                <label><span>Название:</span>
                    <textarea rows="3" th:field="*{name}" name="name" maxlength="200" required></textarea>
                </label>
                <label><span>Дата начала:</span>
                    <input type="date" th:field="*{dateStart}" name="start">
                </label>
                <label><span>Дата окончания:</span>
                    <input type="date" th:field="*{dateFinish}" name="finish">
                </label>
                <div>
                    <a href="/profile/books" class="form-button">Отмена</a>
                    <input type="submit" value="Сохранить" class="form-button">
                </div>
            </form>
        </th:block>

        <th:block th:if="${book.getId() != null}">
            <form name="form" method="post" th:object="${book}" class="form-save" th:action="@{'/book/update/' + ${book.getId()}}">
                <label class="hide"><span>id</span>
                    <input type="text" th:field="*{id}" name="id" th:value="${book.getId()}"></label>
                <label><span>Тип:</span>
                    <select th:field="*{type}" name="type">
                        <th:block th:each="type : ${types}">
                            <option th:if="${type.getDescription().equals(book.getType())}"
                                    th:value="${type.getDescription()}"
                                    th:text="${book.getType()}"></option>
                            <option th:unless="${type.getDescription().equals(book.getType())}"
                                    th:value="${type.getDescription()}"
                                    th:text="${type.getDescription()}"></option>
                        </th:block>
                    </select>
                </label>
                <label><span>Автор:</span>
                    <input type="text"
                           th:field="*{author}"
                           th:value="${book.getAuthor()}"
                           name="author"
                           maxlength="50"
                           required>
                </label>
                <label><span>Название:</span>
                    <textarea rows="3"
                              th:field="*{name}"
                              th:value="${book.getName()}"
                              name="name"
                              maxlength="200"
                              required>
                    </textarea>
                </label>
                <label><span>Дата начала:</span>
                    <input type="date"
                           th:field="*{dateStart}"
                           th:value="${book.getDateStart()}"
                           name="start">
                </label>
                <label><span>Дата окончания:</span>
                    <input type="date"
                           th:field="*{dateFinish}"
                           th:value="${book.getDateFinish()}"
                           name="finish">
                </label>
                <div>
                    <a href="/profile/books" class="form-button">Отмена</a>
                    <input type="submit" value="Сохранить" class="form-button">
                </div>
            </form>
        </th:block>
    </div>
</main>
<script src="/script/dropdown.js"></script>
</body>
</html>